body{
    background: rgb(35, 37, 83);
    font-size: 25px;

}

#js_timer {
    text-align: center;

}

.timer {
    background-color: beige;
    color: #000;
    width: 180px;
    margin: 20px auto;
}

.nav {
    background-color: cornflowerblue;
    text-align: center;
    width: auto;

}
.buttons{
    color: blanchedalmond;
}
 
